@import "colors.scss";

%field {
  margin: 16px 0;
  padding: 0 0 0 16px;
  border-style: none;
  background-color: $violet;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: relative;
}

%input {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

%label {
  width: 10%;
  min-width: 70px;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  display: block;
  min-height: 100%;
}

%error {
  position: absolute;
  white-space: nowrap;
  display: inline-block;
  margin-left: auto;
  border-radius: 4px;
  text-align: center;
  background-color: #7795f8;
  color: #c92828;
  z-index: 1;
  bottom: 54px;
  left: 50%;
  padding: 2px 15px 2px 25px;
  font-size: 13px !important;
  opacity: 0;
  transform: translate(-50%, 10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
