@import "ui-kit/components.scss";
@import "ui-kit/colors.scss";

.form {
  position: relative;
}

.field {
  @extend %field;
}

.input {
  border-radius: 0 4px 4px 0;
  padding: 2px 8px;
  width: 50%;
  flex-grow: 1;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  color: white;
  font-size: 16px;
  min-height: 38px;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $violet inset !important;
    box-shadow: 0 0 0 30px $violet inset !important;
    -webkit-text-fill-color: white;
  }
  &:placeholder {
    color: #87bbfd;
  }
  // &:focus::placeholder {
  //   opacity: 0;
  // }
}

.inputInvalid {
  color: #ffc7ee;
}

.cardNumber {
  border-radius: 4px;
  padding: 2px 0;
}

.expDate {
  border-radius: 4px;
  flex-grow: 0;
  width: 25%;
}

.cvv {
  border-radius: 4px;
  flex-grow: 0;
  width: 20%;
}

.label {
  @extend %label;
}

.error {
  @extend %error;
  &:after {
    position: absolute;
    top: 1px;
    transform: translateX(-50%);
    left: 12px;
    content: url("./Error.svg");
  }
}

.errorVisible {
  transform: translateX(-50%);
  opacity: 1;
}

.modalContent {
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalMessage {
  text-align: center;
  color: green;
  padding: 2em 1em;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  display: block;
  width: 100%;
  height: 40px;
  margin: 48px 0 0 0;
  background-color: #125e12;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #125e12;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  .expDate {
    width: 20%;
  }

  .cvv {
    width: 20%;
  }
}
